<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cocoadrillosoftware.rosterquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1024e"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseImportMethod" />
        <activity
            android:name=".LoadRosterFromWebsite"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LoadStudentsFromWebsite" />
        <activity android:name=".ShowRoster" />
        <activity android:name=".ShowStudent" />
        <activity
            android:name=".RunQuiz"
            android:label="@string/title_activity_run_quiz"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>